name: 'ci'

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v4'
      - uses: 'actions/setup-go@v5'
        with:
          go-version: '1.23.3'
      - run: './validate.sh'
      - uses: 'codecov/codecov-action@v5'
        with:
          token: '${{ secrets.CODECOV_TOKEN }}'
          disable_search: true
          fail_ci_if_error: true
          files: '.build/coverage/coverage.out'
          